body {
    /* How to prevent scrollbar from repositioning web page?
       https://stackoverflow.com/a/7607206 */
    overflow-y: scroll;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
